# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# IDE configuration files
.vscode/
*.cbp
*.depend
*.layout
bin/
obj/

# Logs and Debug
*.pdb
*.log
build_errors.txt
output.txt
test_input.txt

# Generated CSV reports
*.csv
